@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Restaurant

<h4>Add a new Restaurant here!</h4>
@using (Html.BeginForm())
{
  <h3>Restaurant Name:</h3>
  @Html.TextBoxFor(model => model.restaurantName)
  <h3>Restaurant Address:</h3>
  @Html.TextBoxFor(model => model.restaurantAddress)
  <h3>Restaurant Phone Number:</h3>
  @Html.TextBoxFor(model => model.restaurantNumber)
  <h3>Add Restaurant to Cuisine:</h3>
  @Html.DropDownList("cuisineId")
  <br>
  <input type="submit" value="Add new restaurant" />
}

<p>@Html.ActionLink("Show all Restaurants", "Index")</p>