@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Restaurant

<h4>Add a new Restaurant here!</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.restaurantName)
  @Html.TextBoxFor(model => model.restaurantName)
  @Html.LabelFor(model => model.restaurantAddress)
  @Html.TextBoxFor(model => model.restaurantAddress)
  @Html.LabelFor(model => model.restaurantNumber)
  @Html.TextBoxFor(model => model.restaurantNumber)
  @Html.DropDownList("cuisineId")
  <input type="submit" value="Add new restaurant" />
}

<p>@Html.ActionLink("Show all Restaurants", "Index")</p>