@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Restaurant

<h2>Edit Restaurant</h2>

<h4>Edit this Restaurant: @Html.DisplayFor(model => model.restaurantName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.restaurantId)
  <h3>Restaurant Name:</h3>
  @Html.EditorFor(model => model.restaurantName)
  <h3>Restaurant Address:</h3>
  @Html.EditorFor(model => model.restaurantAddress)
  <h3>Restaurant Phone Number:</h3>
  @Html.EditorFor(model => model.restaurantNumber)
  <h3>Add Restaurant to Cuisine:</h3>
  @Html.DropDownList("cuisineId")
  <br>
  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to restaurant list", "Index")</p>